.form {
  position: absolute;
  left: 5%;
  bottom: 50%;
  padding: 24px;
  background-color: var(--bg-dark-variant);
  border: 1px solid var(--border-active);
}

.form-input {
  background-color: var(--bg-dark);
  margin-bottom: 6px;
  padding: 6px;
  display: flex;
  align-items: center;
}

.form-input input {
  background-color: transparent;
  border: none;
  outline: none;
  flex: 1;
}
