.sidebar {
  width: 250px;
  height: 100%;
  background-color: var(--bg-light);
  box-sizing: border-box;
  position: absolute;
  border-right: 1px solid var(--border);
  left: 0;
}

.channel-selector {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: auto;
}

.server-title {
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.channel {
  box-sizing: border-box;
  width: calc(100% - 10px);
  max-height: 30px;
  line-height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  margin-bottom: 3.5px;
  cursor: pointer;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  transition: 0.25s;
}

.channel:hover,
.channel.channel-active {
  background-color: #ffffff1f;
}

.user-settings {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid var(--border);
  background-color: var(--bg-dark-variant);
  display: flex;
}

.user-pfp {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  object-fit: cover;
  margin: 10px;
  border-radius: 6px;
}

.user-text-container {
  height: calc(100% - 20px);
  width: calc(100% - 80px);
  box-sizing: border-box;
  margin: 10px;
  margin-left: 0;
  margin-top: 13.75px;
}

.message-area {
  width: calc(100% - 250px);
  height: 100%;
  background-color: var(--bg-dark);
  box-sizing: border-box;
  position: absolute;
  left: 250px;
}

.user-handle,
.user-status {
  min-width: 100%;
  height: 20px;
}

.user-handle {
  font-weight: bold;
}

.user-status {
  font-size: 13px;
}

.message-box {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid var(--border);
  background-color: var(--bg-dark-variant);
  border-radius: 5px;
  min-height: 40px;
  max-height: 120px;
  overflow-y: auto;
  width: calc(100% - 20px);
  padding: 10px;
  line-height: 20px;
  outline: none;
}

.message-box:active {
  border: 1px solid var(--border-active);
}

.message-container {
  display: flex;
  align-items: center;
}

.message-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
