@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("../font/atkinson-hyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2");
}

:root {
  --highlight: #a97be5;
  --fg-dark: #eeeeee;
  --bg-light: #272727;
  --bg-dark: #1d1d1d;
  --bg-dark-variant: #222222;
  --border: #4f4f4f;
  --border-active: #6f6f6f;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: var(--fg-dark);
  background-color: var(--bg-dark);
  font-family: "Atkinson Hyperlegible";
  font-size: 15px;
}

i {
  margin-right: 5px;
}

button {
  background-color: var(--bg-dark-variant);
  border: 1px solid var(--border-active);
  color: var(--fg-dark);
}

input,
a {
  color: var(--fg-dark);
}
